{% import 'macros.html' as macros %}

{% macro render_input() %}
    <input type="{{ field.type }}"
	       class="form-control {{ field.css_class|sn }}"
	       name="{{ field.name }}"
	       id="{{ field.id }}" value="{{ field.value|sn }}" placeholder="{{ field.placeholder|sn }}"
	       {% if field.readonly %}readonly{% endif %}
	       {% if field.min_value is defined and field.min_value != None %}min="{{ field.min_value }}"{% endif %}
	       {% if field.max_value is defined and field.max_value != None %}max="{{ field.max_value }}"{% endif %}
	       {% if field.step is defined and field.step != None %}step="{{ field.step }}"{% endif %}>
{% endmacro %}

{% set pre_units=None %}
{% set units=None %}

<div {{ field.form_group_attributes }}>
	{{ macros.standard_label(field) }}

	<div {{ field.input_column_attributes }}>
		{% if field.units or field.pre_units %}
			<div class="input-group">
				{% if field.pre_units %}
					<span class="input-group-addon">{{ field.pre_units }}</span>
				{% endif %}
				{{ render_input() }}
				{% if field.units %}
					<span class="input-group-addon">{{ field.units }}</span>
				{% endif %}
			</div>
		{% else %}
			{{ render_input() }}
		{% endif %}
	</div>

	{{ macros.standard_error(field) }}
	{{ macros.standard_help_text(field) }}
</div>
