{% import 'macros.html' as macros %}

<div {{ field.form_group_attributes }}>
	<div class="{{ field.input_no_label_column_class }}">
		<div class="checkbox form-check">
			<label class="form-check-label">
				<input type="checkbox" name="{{ field.name }}" id="{{ field.id }}" value="true"
				       class="{{ field.input_classes }}"
				       {% if field.value %}checked{% endif %}
					   {% if field.readonly %}disabled{% endif %}
					   >
				{{ field.label }}
			{{ macros.bs4_error(field) }}
			{{ macros.bs4_help_text(field) }}
			</label>
		</div>
	</div>
	
	{{ macros.bs3_error(field) }}
	{{ macros.bs3_help_text(field) }}
</div>
