{% extends 'ef_basic_input.html' %}

{% block input %}
	<input type="file" class="{{ field.input_classes }}" name="{{ field.name }}"
		   id="{{ field.id }}"
		   {% if field.readonly %}readonly{% endif %}
		   accept="{{ field.accept }}">
{% endblock input %}


{% block bs3_help_text %}
	{% if not field.error and field.submitted %}
		<div class="{{ field.help_text_column_class }}">
			<p class="help-block">
				{% block warning_message %}
					Due to the way your browser handles file uploads, you will need to select your file again.
				{% endblock warning_message %}
			</p>
		</div>
	{% endif %}
	{{ super() }}
{% endblock bs3_help_text %}


{% block bs4_help_text %}
	{% if not field.error and field.submitted %}
		<small class="form-text text-muted">
			{{ self.warning_message() }}
		</small>
	{% endif %}
	{{ super() }}
{% endblock %}

