{% import 'macros.html' as macros %}

<div {{ field.form_group_attributes }}>
	{{ macros.standard_label(field) }}

	<div {{ field.input_column_attributes }}>
			<input type="file" class="form-control {{ field.css_class|sn }}" name="{{ field.name }}"
			       id="{{ field.id }}"
			       {% if field.readonly %}readonly{% endif %}
			       accept="{{ field.accept }}">
	</div>

	{% if field.error %}
		<div class="{{ field.error_column_class }}">
			<p class="help-block">
				{{ field.error }}
			</p>
		</div>
	{% elif field.submitted %}
		<div class="{{ field.help_text_column_class }}">
			<p class="help-block">
				Due to the way your browser handles file uploads, you will need to select your file again.
			</p>
		</div>
	{% endif %}

	{{ macros.standard_help_text(field) }}
</div>
