{% import 'macros.html' as macros %}

<div class="form-group {% if field.error %}has-error{% endif %}">
	{{ macros.standard_label(field) }}
	{% if field.label_width > 0 %}
		<label class="{{ field.label_column_width }} control-label">
			{{ field.label }}
		</label>
	{% endif %}

	<div class="{{ field.input_column_width }}">
		{% if not field.readonly or field.value == 'male' %}
			<div>
				<input id="{{ field.id }}-male" name="{{ field.name }}" type="radio"
				       value="male"
				       {% if field.value == 'male' %}checked="checked"{% endif %}>
				<label for="{{ field.id }}-male">
					<img src="{{ url_for('static', filename='img/male-symbol.png') }}"
					     alt="Male Symbol" height="30px">
					Male
				</label>
			</div>
		{% endif %}

		{% if not field.readonly or field.value == 'female' %}
			<div>
				<input id="{{ field.id }}-female" name="{{ field.name }}" type="radio"
				       value="female"
				       {% if field.value == 'female' %}checked="checked"{% endif %}>
				<label for="{{ field.id }}-female">
					<img src="{{ url_for('static', filename='img/female-symbol.png') }}"
					     alt="Female Symbol" height="30px">
					Female
				</label>
			</div>
		{% endif %}
	</div>

	{{ macros.standard_error(field) }}
	{{ macros.standard_help_text(field) }}
</div>
