{% extends 'base.html' %}

{% block title %}Easyforms Test App{% endblock %}

{% block h1 %}{% endblock %}

{% block content %}
	<div class="main-panel panel panel-default">
		<div class="panel-heading">
			<h1>{{ self.title() }}</h1>
		</div>
		<div class="panel-body">
			<ul class="links">
				<li><a href="{{ url_for('main.simple_form') }}">Simple Form</a></li>
				<li><a href="{{ url_for('main.large_multisection_form') }}">Large Multi-Section Form</a></li>
				<li><a href="{{ url_for('main.multisection_form_custom') }}">Multi-Section Form with Custom Layout</a></li>
				<li><a href="{{ url_for('main.custom_validation_1') }}">Custom Validation 1</a></li>
				<li><a href="{{ url_for('main.custom_validation_2') }}">Custom Validation 2</a></li>
			</ul>
		</div>
	</div>
{% endblock %}

