{% import 'ef_macros.html' as ef_macros %}

<div {{ field.form_group_attributes }}>
	{{ ef_macros.standard_label(field) }}

	<div {{ field.input_column_attributes }}>
		<input type="{{ field.type }}"
	       class="{{ field.input_classes }}"
	       name="{{ field.name }}"
	       id="{{ field.id }}" value="{{ ', '.join(field.value) if field.value else '' }}" placeholder="{{ field.placeholder|sn }}"
	       {% if field.readonly %}readonly{% endif %}>
		
		{% if field.style == styles.BOOTSTRAP_4 %}
			{{ ef_macros.bs4_error(field) }}
			{{ ef_macros.bs4_help_text(field) }}
		{% endif %}

	</div>

	{{ ef_macros.bs3_error(field) }}
	{{ ef_macros.bs3_help_text(field) }}
</div>
