{% import 'ef_macros.html' as ef_macros %}

<div {{ field.form_group_attributes }}>
	{% if field.label_width > 0 %}
		<label for="{{ field.id }}" class="{{ field.label_column_class }}">
			<strong class="green">[ CUSTOM FIELD ]</strong>
			{{ field.label_html }}
		</label>
	{% endif %}

	<div {{ field.input_column_attributes }}>
		{{ ef_macros.standard_input(field) }}
		{% if field.style == styles.BOOTSTRAP_4 %}
			{{ ef_macros.bs4_error(field) }}
			{{ ef_macros.bs4_help_text(field) }}
		{% endif %}
	</div>

	{{ ef_macros.bs3_error(field) }}
	{{ ef_macros.bs3_help_text(field) }}
</div>
