{% macro standard_label(field) %}
	{% if field.label_width > 0 %}
		<label for="{{ field.id }}" class="{{ field.label_column_class }}">
			{{ field.label_html }}
			{% if field.optional %}
				<span class="info">(optional)</span>
			{% endif %}
		</label>
	{% endif %}
{% endmacro %}


{% macro standard_error(field) %}
	{% if field.error %}
		<div class="{{ field.error_column_class }}">
			<p class="help-block">
				{# This invisible label pushed the validation message to be in line with the input #}
				{% if field.form.form_type == formtype.INLINE %}
					<span style="visibility: hidden">
						{{ standard_label(field) }}
					</span>
				{% endif %}
				{{ field.error }}
			</p>
		</div>
	{% endif %}
{% endmacro %}


{% macro standard_help_text(field) %}
	{% if field.help_text %}
		<div class="{{ field.help_text_column_class }}">
			<p class="help-block">
				{{ field.help_text }}
			</p>
		</div>
	{% endif %}
{% endmacro %}
