{% import 'ef_macros.html' as ef_macros %}

{% block form_control %}
	{% block form_control_start %}{% endblock form_control_start %}
	<div {{ field.form_group_attributes }}>
		{% block label %}
			{{ ef_macros.standard_label(field) }}
		{% endblock label %}
		
		{% block input_column %}
			<div {{ field.input_column_attributes }}>
				{% block input_column_content %}
					{% call ef_macros.input_group(field) %}
						{% block input %}
							{{ ef_macros.standard_input(field) }}
						{% endblock input %}
					{% endcall %}
					{% if field.style == styles.BOOTSTRAP_4 %}
						{% block bs4_error %}
							{{ ef_macros.bs4_error(field) }}
						{% endblock bs4_error %}
						{% block bs4_help_text %}
							{{ ef_macros.bs4_help_text(field) }}
						{% endblock bs4_help_text %}
					{% endif %}
				{% endblock %}
			</div>
		{% endblock input_column %}
		
		{% if field.style == styles.BOOTSTRAP_3 %}
			{% block bs3_error %}
				{{ ef_macros.bs3_error(field) }}
			{% endblock bs3_error %}
			{% block bs3_help_text %}
				{{ ef_macros.bs3_help_text(field) }}
			{% endblock bs3_help_text %}
		{% endif %}
	</div>
	{% block form_control_end %}{% endblock form_control_end %}
{% endblock form_control %}
